{% extends 'accounts/base.html' %}

{% load static%}
        {% block body %}
         <div class="main">
        <h5
            style="
            border-bottom: 1px solid lightgrey;
            padding-bottom: 15px;
            color: #0a0;
            "
        >
            Password reset successful!
        </h5>
        <p>
            Your password has been set. You may go ahead and
            <a href="{% url 'accounts:login' %}" class="text-decoration-none">sign in</a> now.
        </p>
        </div>
        {% endblock %}
