{% extends 'accounts/base.html' %}

{% load static%}

{% block title %}
<title>Password Reset | Grren Division</title>
{% endblock %}

        {% block body %}

        <div class="main">
        <h5
            style="
            border-bottom: 1px solid lightgrey;
            padding-bottom: 15px;
            color: #0a0;
            "
        >
            We've emailed you instructions for setting your password, if an
            account exists with the email you entered. You should receive them
            shortly.
        </h5>

            <p>
                If you don't receive an email, please make sure you've entered the
                address you registered with, and check your spam folder.
            </p>

        </div>

        {% endblock %}
