<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change Password</title>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../New folder (2)/css/index.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="container">
      <header>Change Password</header>
      <form>
        <div class="input-field">
          <input class="pswrd" type="password" required>
          <label>Old Password</label>
        </div>

        <div class="input-field">
            <input class="pswrd" type="password" required>
            <label>New Password</label>
          </div>

        <div class="input-field">
            <input class="pswrd" type="password" required>
            <label>Confirm Password</label>
          </div>

            
     

      <input type="Submit" class="btn" value="Submit">
    </form>
   


        
</div>

  </body>
</html>
