{% extends 'accounts/base.html' %}

{% load static %}

{% block title %}
<title>Edit Profile | Grren Division</title>
{% endblock %}

{% block body %}



    <div class="main">
  <h5
    style="
      border-bottom: 1px solid lightgrey;
      padding-bottom: 15px;
      color: #0a0;
    "
  >
    Edit Profile
  </h5>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label"
        >Name <span style="color: #e32">*</span></label
      >
      <input type="text" class="form-control" name="name" id="name" value="{{ profile.name }}" required />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label"
        >Email address <span style="color: #e32">*</span></label
      >
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        value="{{ profile.user.email }}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="department" class="form-label"
        >Department <span style="color: #e32">*</span></label
      >
      <select name="department" id="department" class="form-select" value>
        <option disabled>--</option>
        {% if profile.department == 'Computer Science and Engineering' %}
        <option selected value="Computer Science and Engineering">Computer Science and Engineering</option>
        
        {% else %}
        
        <option value="Computer Science and Engineering">Computer Science and Engineering</option>
        {% endif %}

        {% if profile.department == 'Softwear Engineering' %}
        <option selected value="Softwear Engineering">Softwear Engineering</option>
        
        {% else %}
        
        <option value="Softwear Engineering">Softwear Engineering</option>
        {% endif %}


        {% if profile.department == 'Other' %}
        <option selected value="Other">Other</option>
        
        {% else %}
        
        <option value="Other">Other</option>
        {% endif %}

      </select>
    </div>
    <div class="mb-3">
      <label for="varsityID" class="form-label"
        >University ID <span style="color: gray">(To change varsity ID, contact the admins)</span></label
      >
      <input
        type="text"
        class="form-control"
        name="varsity_id"
        id="varsity_id"
        value="{{ profile.varsity_id }}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="uriProfile" class="form-label"
        >URI Profile Link
        <span style="font-size: small"
          >(e.g.:
          https://www.urionlinejudge.com.br/judge/en/profile/000001)</span
        >
        <span style="color: #e32">*</span></label
      >
      <input
        type="url"
        class="form-control"
        name="uri_link"
        id="uriProfile"
        value="{{ profile.uri_link }}"
        required
      />
    </div>

    <div class="mb-3">
      <label for="contact" class="form-label">Contact Number</label>
      <input type="text" class="form-control" name="contact" id="contact" value="{{ profile.contact }}" />
    </div>


    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="file" name="image" id="image" class="form-control" />
    </div>

    <div class="form-check form-switch mb-3">
    {% if profile.show_email %}
        <input class="form-check-input" type="checkbox" id="showemail"  name="showemail" checked>

    {% else %}
        <input class="form-check-input" type="checkbox" id="showemail"  name="showemail">

    {% endif %}
        <label class="form-check-label" for="showemail">Show Email</label>
    </div>

    <div class="form-check form-switch mb-3">
    {% if profile.show_number %}
        <input class="form-check-input" type="checkbox" id="showcontact"  name="showcontact" checked>
    
    {% else %}
        <input class="form-check-input" type="checkbox" id="showcontact"  name="showcontact">
    
    {% endif %}
        <label class="form-check-label" for="showcontact">Show Contact Number</label>
    </div>

    {% if msg %}
    <div class="mb-3">
      <div
        class="
          alert alert-danger
          d-flex
          align-items-center
          alert-dismissible
          fade
          show
        "
        role="alert"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
          viewBox="0 0 16 16"
          role="img"
          aria-label="Warning:"
        >
          <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
          />
        </svg>
        <div>{{ msg }}</div>
        <button
          type="button"
          class="btn-close float-right"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    </div>
    {% endif %}

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}