<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="../New folder (2)/css/index.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="container">
      <header>Login</header>
      <form>
        <div class="input-field">
          <input type="text" required>
          <label>Email or Student ID</label>
        </div>
        <div class="input-field">
          <input class="pswrd" type="password" required>
          <span class="show">SHOW</span>
          <label>Password</label>
        </div>
            <input type="Submit" class="btn" value="Login">
      </form>
   


        <div class="signup">
        <a href="Set_New_Password.html">Forget Password?</a> or Not a member? <a href="registration.html">Register</a>
        </div>
</div>

  </body>
</html>
