<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register Form</title>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'userPanel/reg.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>

    
    <div class="container">
      <header>Register</header>
      
      <form method="post">
      {% csrf_token %}
        <div class="input-field">
          <input type="text" name="name" required>
          <label>Name</label>
        </div>

        <div class="input-field">
            <input type="text" name="id" required>
            <label>Student ID (e.g.: 181-15-11038) </label>
          </div>

          <div class="input-field">
            <input type="email" name="email" required>
            <label>Email</label>
          </div>

          <div class="input-field">
            <input type="text" name="url" required>
            <label>URi Profile link</label>
          </div>

          



        <div class="input-field">
          <input class="pswrd" type="password" name="password" required>
          
          <label>Password</label>
        </div>

        <div class="input-field">
            <input class="pswrd" type="password" required>
            
            <label>Confirm Password</label>
          </div>


            <input type="Submit" class="btn" value="Register">
      </form>
   


        <div class="signup">
            Already an User? <a href="{% url 'login' %}">Login</a>
        </div>
</div>


  </body>
</html>
