{% extends 'accounts/base.html' %}

{% load static %}

{% block body%}

      <div class="main">
        <h5
          style="
            border-bottom: 1px solid lightgrey;
            padding-bottom: 15px;
            color: #0a0;
          "
        >
          Register into Blue Profile
        </h5>
        <form>
          <div class="mb-3">
            <label for="name" class="form-label"
              >Name <span style="color: #e32">*</span></label
            >
            <input type="text" class="form-control" id="name" required />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label"
              >Email address <span style="color: #e32">*</span></label
            >
            <input type="email" class="form-control" id="email" required />
          </div>
          <div class="mb-3">
            <label for="department" class="form-label"
              >Department <span style="color: #e32">*</span></label
            >
            <input type="text" class="form-control" id="department" required />
          </div>
          <div class="mb-3">
            <label for="varsityID" class="form-label"
              >University ID <span style="color: #e32">*</span></label
            >
            <input type="text" class="form-control" id="varsityID" required />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label"
              >Password <span style="color: #e32">*</span></label
            >
            <input
              type="password"
              class="form-control"
              id="password"
              required
            />
          </div>
          <div class="mb-3">
            <label for="conPassword" class="form-label"
              >Confirm Password <span style="color: #e32">*</span></label
            >
            <input
              type="password"
              class="form-control"
              id="conPassword"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

{% endblock %}