{% extends 'public/base.html'%}
{% load static%}

{% block title %}
        <title>About | Green Division</title>
{% endblock %}

{% block meta %}
<meta name="description" content="GreenDivision is a guideline for beginners in programming.">
{% endblock %}

{% block body %}

      <nav class="navbar navbar-expand-lg navbar-light bg-lignt">
                <div class="container-fluid">
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"> </span>
                    </button>
                    <div
                        class="collapse navbar-collapse"
                        id="navbarSupportedContent"
                    >
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    aria-current="page"
                                    href="{% url 'public:standings' %}"
                                    >Standings</a
                                >
                            </li>
                            {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'public:profile' request.user.id %}"
                                    >Profile</a
                                >
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{% url 'public:eligiblilty' request.user.id %}"
                                    >Eligibility</a
                                >
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'public:about' %}"
                                    >About</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </div>
    <h3
        class="my-5 mb-3"
        style="color: #0a0; text-align: center">
        FAQ
      </h3>
      <div class="card shadow w-95" style="width: auto;">
        <div class="card-body">
          <p class="card-text">
            <h6 style="color: #0a0; font-size: 17px;">What is Green Division?</h6>
            <p>
              Programmers of DIU ACM are divided into three divisions on the basis of their solves- 
              Green, Blue & Red. Usually, we suggest beginners to solve problems from URI Online Judge 
              as there are plenty of easy problems there, to solve from and to take baby steps towards 
              growth. And this category of programmers are defined as the Green Division. And to join 
              Blue Division every programmer has to go through Green Division. And to be in the Red 
              Division they have to go through Blue Division.
            </p>
            <br></br>
            <h6 style="color: #0a0; font-size: 17px;">Why should I join Green Division?</h6>
            <p>
              As mentioned earlier to join Blue Division one has to go through Green Division. And DIU ACM 
              arranges training classes for Blue Division. Also to track the programmers DIU ACM uses these 
              Divisions. And if someone is not a part of any Division and DIU ACM becomes unable to track them 
              then they might miss out on an opportunity to go to a national programming contest as well. And 
              most importantly if someone is solving with a guideline will help to progress more than solving 
              randomly. That is where this website comes in handy.
            </p>
            <br></br>
            <h6 style="color: #0a0; font-size: 17px;">Why this website has a list of problems whereas previously one could solve any problem from URI?</h6>
            <p>
              URI has a lot of problems and it's only increasing with quite a speed. So there are some very similar 
              problems. So solving those problems only increases the number of solves and the practice doesn't stays 
              very efficient anymore. So, here the senior programmers of DIU has selected a variety of problems in 
              different categories. So that, the practice stays efficient.
            </p>
            <br></br>
            <h6 style="color: #0a0; font-size: 17px;">How do I become eligible for Green Division?</h6>
            <p>
              Create an account on URI Online Judge then using that account register on this wensite and you are good to go. 
              Keep solving problems from URI.
            </p>
            <br></br>
            <h6 style="color: #0a0; font-size: 17px;">What if I get stuck while solving the problems?</h6>
            <p>
              If you get stuck and need help programmers of our ACM community are always eager to help. And best 
              way to get help even if you don't any senior programmers is to join our ACM community 
              <a href="https://www.facebook.com/groups/cppsdiu" target="_blank">DIU ACM Solver Forum</a>. 
              Link: https://www.facebook.com/groups/cppsdiu. Here you can post your problems and the seniors or your fellow programmers will 
              be more than happy to help. You can ask for suggestions, advise regarding practice and problem solving 
              there as well.
            </p>
            <br></br>
            <h6 style="color: #0a0; font-size: 17px;">What is after Green Divison?</h6>
            <p>
              As mentioned in the answers for the previous questions after one has solved a good amount of 
              problem or more specifically at least 60% problems from each category and has solved 160+ problem 
              in total can advance to Blue Division. For that, eligible programmers will find an "Apply for Blue" 
              button on the Eligibility page. Don't worry the "Apply for Blue" button will automatically become 
              clickable once a programmer has fulfilled the criteria mentioned above.
            </p>
            <br></br>
            <h6 style="color: #0a0; font-size: 17px;">How does this website work?</h6>
            <p>
              Introduction to the Green Division Website- <br>
              <b>Standings: </b> On this page, There will be a list of registered Green Division programmers. Their 
              Name, URI profile Link, and total solve count. By clicking on the name we can go to their Green division profile and see 
              their information and the problems they have solved.<br>
              <b>About: </b> This page holds the information about the website, Green Division, Problem Contributors
              and developers.<br><br>
              <b>To access the other pages you have log in so...</b><br><br>
              <b>Register: </b> Problem solvers can register filling the information in this page after that they will 
              have to confirm/verify the email as well before logging in for the first time.<br>
              <b>Log In: </b> Green Division programmers can log in using the email and password they registered with.<br>
              <b>Profile: </b> A Green Division programmer can see and edit their information from this page. Also can see which problems 
              they have solved already from the list.<br>
              <b>Eligibility: </b> Here a Green Division programmer can see what percantage of problems they have solved
              from which category. So that, they can so which category is lacking solves for applying for blue. Also they will 
              find the option to apply for blue from this page.<br>
            </p>
          </p>
        </div>
      </div>
      <h3
          class="my-5 mb-3"
          style="color: #0a0; text-align: center">
          Problem Contributors and Selectors
        </h3>
        <div class="card shadow w-95" style="width: auto;">
          <div class="card-body">
            <p class="card-text">
              <ul style="list-style-type:square;">
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Erfanul Islam [181-15-10777]</span>
                </li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Tanima Hossain [181-15-10733]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Ahmed Abdullah Shourav [172-15-898]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Md. Shah Habibul Imran [181-15-10627]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Umme Rukaya Suny [181-15-10997]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Farjana Akter [181-15-10843]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Maria Rahaman Rumki [182-15-11493]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Afsara Rahman Shuchita [182-15-11430]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Nazmus Sakib [181-15-10817]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Zakaria Hossain Foysal [171-15-9556]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Shameem Alam [173-15-10373]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Shimul Sutradhar [191-15-12614]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Md. Albin Hossain [191-15-12926]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Rahat Islam Srijon [191-15-12895]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Riadh Hasan [191-15-12697]</span></li>
              </ul>
            </p>
          </div>
        </div>
    <h3 class="my-5" style="color: #0a0; text-align: center">Developed By</h3>
    <div class="container">
      <div class="card-group ">
        <div class="card shadow" style="width: 20rem;">
          <img class="card-img-top img-fluid" width="100%" src="{% static 'public/images/mim.jpg' %}" alt="Kaniz Fatima Mim" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Kaniz Fatima Mim</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
        <div class="card shadow" style="width: 20rem;">
          <img class="card-img-top img-fluid" src="{% static 'public/images/DP.jpg' %}" alt="Shah Habibul Imran" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Shah Habibul Imran</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
        <div class="card shadow" style="width: 20rem;">
          <img class="card-img-top img-fluid" src="{% static 'public/images/takku.jpg' %}" alt="Erfanul Islam Bhuiyan" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Erfanul Islam Bhuiyan</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
        
      </div>

       <div class="card-group2 d-flex justify-content-center"> <!-- d-flex justify-content-center -->
        <div class="card shadow sec" style="width: 20rem;">
          <img class="card-img-top img-fluid" width="100%" src="{% static 'public/images/tanima.jpg' %}" alt="Tanima Hossain" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Tanima Hossain</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
        <div class="card shadow sec" style="width: 20rem;">
          <img class="card-img-top img-fluid" src="{% static 'public/images/Shourav_vai.jpg' %}" alt="Ahmed Abdullah Shourav" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Ahmed Abdullah Shourav</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
