{% extends 'public/base.html'%}
{% load static%}

{% block body %}

      <nav class="navbar navbar-expand-lg navbar-light bg-lignt">
                <div class="container-fluid">
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"> </span>
                    </button>
                    <div
                        class="collapse navbar-collapse"
                        id="navbarSupportedContent"
                    >
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    aria-current="page"
                                    href="{% url 'public:standings' %}"
                                    >Standings</a
                                >
                            </li>
                            {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'public:profile' request.user.id %}"
                                    >Profile</a
                                >
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{% url 'public:eligiblilty' request.user.id %}"
                                    >Eligibility</a
                                >
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'public:about' %}"
                                    >About</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </div>
    <h3
        class="my-5 mb-3"
        style="color: #0a0; text-align: center">
        FAQ
      </h3>
      <div class="card shadow w-95" style="width: auto;">
        <div class="card-body">
          <p class="card-text">
            <p>
              Generally, every Programmer needs a guideline to follow and
              practice to grow properly. Without guidelines most of the
              programmers get distracted. So Blue sheet is such a sheet that
              contains problems that decides the necessary guidelines. Here
              problems are sorted in such a way that beginners will start and
              continue practicing and slowly they will become greater
              programming assets.
            </p>
            <br></br>
            <p>
              The Blue sheet is created for <b>DIU ACM</b> members originally by
              <b>Mahmudur Rahman</b> sir (MMRN, World Finalist 2007). Normally
              users have to write "OK" manually after solving a problem from the
              sheet. This process is not suitable for a large number of users
              and need supervision. Also, users can solve problems in various
              practice contests without realizing whether the problem is from
              the Blue sheet.
            </p>
            <br></br>
            <p>
              So we wanted to make this "Blue profile" site so that users don't
              have to track the original sheet manually and can focus more on
              practice. It will update automatically when any user will solve a
              problem. Users can view their total solve count, solve list also
              their standings among other Blue Solvers.
              <b>This site will update automatically in every 5 minutes</b>. So
              the whole process is quite easy to use and can be easily
              maintained. Currently, the site is receiving all the data from
              "VJudge" as all blue problems are available in VJudge.
            </p>
            <br></br>
            <p>
              If you face any problem or trace any bug please report to us via
              e-mail.
            </p>
          </p>
        </div>
      </div>
    <h3 class="my-5" style="color: #0a0; text-align: center">Developed By</h3>
    <div class="container">
      <div class="card-group ">
        <div class="card shadow" style="width: 20rem;">
          <img class="card-img-top img-fluid" width="100%" src="{% static 'public/images/mim.jpg' %}" alt="Kaniz Fatima Mim" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Kaniz Fatima Mim</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
        <div class="card shadow" style="width: 20rem;">
          <img class="card-img-top img-fluid" src="{% static 'public/images/tdp.jpg' %}" alt="Kaniz Fatima Mim" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Shah Habibul Imran</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
        <div class="card shadow" style="width: 20rem;">
          <img class="card-img-top img-fluid" src="{% static 'public/images/takku.jpg' %}" alt="Kaniz Fatima Mim" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Erfanul Islam Bhuiyan</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
        
      </div>

       <div class="card-group2 d-flex justify-content-center"> <!-- d-flex justify-content-center -->
        <div class="card shadow sec" style="width: 20rem;">
          <img class="card-img-top img-fluid" width="100%" src="{% static 'public/images/tanima.jpg' %}" alt="Tanima Hossain" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Tanima Hossain</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
        <div class="card shadow sec" style="width: 20rem;">
          <img class="card-img-top img-fluid" src="{% static 'public/images/tdp.jpg' %}" alt="Ahmed Abdullah Shourav" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Ahmed Abdullah Shourav</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
