{% extends 'public/base.html'%}
{% load static%}

{% block title %}
        <title>About | Green Division</title>
{% endblock %}

{% block body %}

      <nav class="navbar navbar-expand-lg navbar-light bg-lignt">
                <div class="container-fluid">
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"> </span>
                    </button>
                    <div
                        class="collapse navbar-collapse"
                        id="navbarSupportedContent"
                    >
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    aria-current="page"
                                    href="{% url 'public:standings' %}"
                                    >Standings</a
                                >
                            </li>
                            {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'public:profile' request.user.id %}"
                                    >Profile</a
                                >
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{% url 'public:eligiblilty' request.user.id %}"
                                    >Eligibility</a
                                >
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'public:about' %}"
                                    >About</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </div>
    <h3
        class="my-5 mb-3"
        style="color: #0a0; text-align: center">
        FAQ
      </h3>
      <div class="card shadow w-95" style="width: auto;">
        <div class="card-body">
          <p class="card-text">
            <h6 style="color: #0a0; font-size: 17px;">What is Green Division?</h6>
            <p>
              Haven't Written the answer yet...
            </p>
            <br></br>
            <h6 style="color: #0a0; font-size: 17px;">Why Green Division?</h6>
            <p>
              Haven't Written the answer yet...
            </p>
            <br></br>
            <h6 style="color: #0a0; font-size: 17px;">How do I become Eligible for green Division?</h6>
            <p>
              Haven't Written the answer yet...
            </p>
            <br></br>
            <h6 style="color: #0a0; font-size: 17px;">What is after green divison?</h6>
            <p>
              Haven't Written the answer yet...
            </p>
            <br></br>
            <h6 style="color: #0a0; font-size: 17px;">How does this website work?</h6>
            <p>
              Haven't Written the answer yet...
            </p>
          </p>
        </div>
      </div>
      <h3
          class="my-5 mb-3"
          style="color: #0a0; text-align: center">
          Problem Contributors and Selectors
        </h3>
        <div class="card shadow w-95" style="width: auto;">
          <div class="card-body">
            <p class="card-text">
              <ul style="list-style-type:square;">
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Erfanul Islam [181-15-10777]</span>
                </li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Tanima Hossain [181-15-10733]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Ahmed Abdullah Shourav [172-15-898]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Md. Shah Habibul Imran [181-15-10627]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Umme Rukaya Suny [181-15-10997]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Farjana Akter [181-15-10843]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Maria Rahaman Rumki [182-15-11493]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Afsara Rahman Shuchita [182-15-11430]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Nazmus Sakib [181-15-10817]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Zakaria Hossain Foysal [171-15-9556]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Shameem Alam [173-15-10373]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Shimul Sutradhar [191-15-12614]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Md. Albin Hossain [191-15-12926]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Rahat Islam Srijon [191-15-12895]</span></li>
                <li style="color: #0a0; list-style: square;">
                  <span style="color: black;">Riadh Hasan [191-15-12697]</span></li>
              </ul>
            </p>
          </div>
        </div>
    <h3 class="my-5" style="color: #0a0; text-align: center">Developed By</h3>
    <div class="container">
      <div class="card-group ">
        <div class="card shadow" style="width: 20rem;">
          <img class="card-img-top img-fluid" width="100%" src="{% static 'public/images/mim.jpg' %}" alt="Kaniz Fatima Mim" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Kaniz Fatima Mim</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
        <div class="card shadow" style="width: 20rem;">
          <img class="card-img-top img-fluid" src="{% static 'public/images/DP.jpg' %}" alt="Shah Habibul Imran" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Shah Habibul Imran</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
        <div class="card shadow" style="width: 20rem;">
          <img class="card-img-top img-fluid" src="{% static 'public/images/takku.jpg' %}" alt="Erfanul Islam Bhuiyan" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Erfanul Islam Bhuiyan</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
        
      </div>

       <div class="card-group2 d-flex justify-content-center"> <!-- d-flex justify-content-center -->
        <div class="card shadow sec" style="width: 20rem;">
          <img class="card-img-top img-fluid" width="100%" src="{% static 'public/images/tanima.jpg' %}" alt="Tanima Hossain" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Tanima Hossain</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
        <div class="card shadow sec" style="width: 20rem;">
          <img class="card-img-top img-fluid" src="{% static 'public/images/Shourav_vai.jpg' %}" alt="Ahmed Abdullah Shourav" />
          <div class="card-body">
            <h4 class="card-title" style="color: #0a0;">Ahmed Abdullah Shourav</h4>
            <p class="card-text">
              <h5 class="text-muted">Department of Computer Science and Engineering</h5>
              <h6 class="text-muted">Daffodil International University</h6>
            </p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
