{% extends 'public/base.html'%} {% load static%}

{% block title %}
<title>Eligibility | {{ profile.name }} | Green Division</title>
{% endblock %}

 {% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-lignt">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"> </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="{% url 'public:standings' %}"
            >Standings</a
          >
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'public:profile' request.user.id %}"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            href="{% url 'public:eligiblilty' request.user.id %}"
            >Eligibility</a
          >
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'public:about' %}">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="eligibility">
  <h3 class="my-5" style="color: #0a0; text-align: center">Eligibility</h3>

  <!-- <nav aria-label="...">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item" aria-current="page">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav> -->
  <div class="container">
    <div class="card mb-5 cat1">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; color: #ffc107">
          Input/Output
        </h5>
        <div class="card-body">
          <h6> Total Problems: <span class="text-primary"> {{ beginner_count }}</span> </h6>
          <h6 class="mb-5"> Solved: <span style="color: #0a0"> {{ beginner_solved }} </span> </h6>
          <h6>Progress</h6>
          <span class="pull-right ps" id="ps">{{ beginner_percentage }}%</span>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="background-color: #0a0"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-5 cat2">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; color: #6c757d">
          Simple Math
        </h5>
        <div class="card-body">
          <h6> Total Problems: <span class="text-primary"> {{ math_count }}</span> </h6>
          <h6 class="mb-5"> Solved: <span style="color: #0a0"> {{ math_solved }}</span> </h6>
          <h6>Progress</h6>
          <span class="pull-right ps">{{ math_percentage }}%</span>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="background-color: #0a0"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-5 cat3">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; color: #0dcaf0">
          Condition
        </h5>
        <div class="card-body">
          <h6> Total Problems: <span class="text-primary"> {{ condition_count }}</span></h6>
          <h6 class="mb-5"> Solved: <span style="color: #0a0"> {{ condition_solved }}</span></h6>
          <h6>Progress</h6>
          <span class="pull-right ps">{{ condition_percentage }}%</span>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="background-color: #0a0"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-5 cat4">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; color: #0d6efd">
          Loop
        </h5>
        <div class="card-body">
          <h6> Total Problems: <span class="text-primary"> {{ loop_count }}</span></h6>
          <h6 class="mb-5"> Solved: <span style="color: #0a0"> {{ loop_solved }}</span></h6>
          <h6>Progress</h6>
          <span class="pull-right ps">{{ loop_percentage }}%</span>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="background-color: #0a0"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-5 cat5">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; color: #dc3545">
          GEO
        </h5>
        <div class="card-body">
          <h6> Total Problems: <span class="text-primary"> {{ geo_count }}</span></h6>
          <h6 class="mb-5"> Solved: <span style="color: #0a0">{{ geo_solved }}</span></h6>
          <h6>Progress</h6>
          <span class="pull-right ps">{{ geo_percentage }}%</span>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="background-color: #0a0"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-5 cat6">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; color: #20c997">
          Array/Simple DS
        </h5>
        <div class="card-body">
          <h6> Total Problems: <span class="text-primary"> {{ array_count }}</span></h6>
          <h6 class="mb-5">  Solved: <span style="color: #0a0"> {{ array_solved }} </span></h6>
          <h6>Progress</h6>
          <span class="pull-right ps">{{ array_percentage }}%</span>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="background-color: #0a0"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5 cat7">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; color: #2081bf">
          String
        </h5>
        <div class="card-body">
          <h6> Total Problems: <span class="text-primary">{{ string_count }} </span></h6>
          <h6 class="mb-5"> Solved:  <span style="color: #0a0"> {{ string_solved }} </span></h6>
          <h6>Progress</h6>
          <span class="pull-right ps">{{ string_percentage }}%</span>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="background-color: #0a0"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4 cat8">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; color: #806248">
          Ad-hoc
        </h5>
        <div class="card-body">
          <h6> Total Problems: <span class="text-primary">{{ adhoc_count }} </span></h6>
          <h6 class="mb-5"> Solved:  <span style="color: #0a0"> {{ adhoc_solved }} </span></h6>
          <h6>Progress</h6>
          <span class="pull-right ps">{{ adhoc_percentage }}%</span>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="background-color: #0a0"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div class="blue" style="padding-bottom: 40px">
      <section>
        {% if request.user.is_authenticated and request.user.id == profile.user.id %}
        <h4 class="txt" id="txt">
          Please solve more to apply for Blue sheet...
        </h4>
        <a
          target="_blank"
          href="https://forms.gle/tgpeQP7w5txTbcrw7"
          class="btn btn-primary btn-md disabled pull-right blbtn"
          role="button"
          id="blbtn"
          >Apply for Blue</a
        >
        {% else %}
        <h4 class="txt" id="txt">This user isn't eligible for Blue sheet</h4>
        {% endif %}
      </section>
    </div>
  </div>
</div>

<!-- JavaScript Bundle with Popper -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
  crossorigin="anonymous"
></script>
<script>
  console.log("Hello");

  {% if request.user.is_authenticated and profile.user.id == request.user.id%}
  let message = "Congratulations! You are eligible for Blue"
  {% else %}
  let message = "This user is eligible for Blue"
  {% endif %}

  let bars = document.getElementsByClassName("ps");
  let progress = document.getElementsByClassName("progress-bar");
  let f = 0;
  for (let i = 0; i < bars.length; i++) {
      let value = parseInt(
          bars[i].innerHTML.substr(0, bars.length - 1)
      );
      progress[i].style.width = value + "%";
      if (value >= 60) {
          progress[i].style.backgroundColor = "#0d6efd";
          f++;
      }
  }
  console.log(f);

  if (bars.length === f) {
      let txt = document.getElementById("txt");
      let btn = document.getElementById("blbtn");
      txt.innerHTML = message;
      btn.classList.remove("disabled");
  }
</script>

{% endblock %}
