{% extends 'public/base.html'%}
{% load static %}

{% block body %}
            <nav class="navbar navbar-expand-lg navbar-light bg-lignt">
                <div class="container-fluid">
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"> </span>
                    </button>
                    <div
                        class="collapse navbar-collapse"
                        id="navbarSupportedContent"
                    >
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    aria-current="page"
                                    href="{% url 'public:standings' %}"
                                    >Standings</a
                                >
                            </li>
                            {% if request.user.is_authenticated %}
                            {% if profile.user.id == request.user.id %}
                            
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'public:profile' request.user.id %}"
                                    >Profile</a
                                >
                            </li>
                            
                            {% else %}
                            
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'public:profile' request.user.id %}"
                                    >Profile</a
                                >
                            </li>
                            
                            {% endif %}
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{% url 'public:eligiblilty' request.user.id %}"
                                    >Eligibility</a
                                >
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'public:about' %}"
                                    >About</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="info" style="position: relative">
                <img 
                    src="{{ profile.image }}"
                />
                <div class="main-info" style="margin-bottom: 20px">
                    <h1>
                        <a target="_blank" href="{{ profile.uri_link }}" style="text-decoration: none; color: gray;"
                            >{{ profile.name }}</a
                        >
                    </h1>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-user icon text-success"></i>
                        {{ profile.name }}
                    </li>

                    <li>
                        <i class="fa fa-university icon text-success"></i>
                        <strong>Department: </strong> {{ profile.department }}
                    </li>
                    
                    <li>
                        <i class="fa fa-id-badge icon text-success"></i>
                        <strong>ID: </strong> {{ profile.varsity_id }}
                    </li>
                    
                    <li>
                        <i class="fa fa-external-link-square icon text-success"></i>
                        <strong>URI Profile: </strong> <a target="_blank" class="text-decoration-none" href="{{ profile.uri_link }}">{{ profile.uri_link }} </a>
                    </li>
                    
                    {% if profile.show_email %}
                    <li>
                        <i class="fa fa-envelope-o icon text-success"></i>
                        <strong>Email: </strong> {{ profile.user.email }}
                    </li>
                    {% endif %}

                    {% if profile.show_number %}
                    <li>
                        <i class="fa fa-phone icon text-success"></i>
                        <strong>Contact Number: </strong> {{ profile.contact }}
                    </li>
                    {% endif %}

                    <li>
                        <i class="fa fa-lightbulb-o icon text-success"></i>
                        <strong>Status: 
                        {% if profile.status == 'Active' %}
                            <span class="text-success">Active</span>

                        {% elif profile.status == 'Blue' %}
                            <span class="text-primary">Blue Member</span>

                        {% else %}
                            <span class="text-secondary">Inactive</span>

                        {% endif %}
                        </strong>
                    </li>

                    <li id="myScrollspy">
                        <i class="fa fa-flag icon text-success"></i>
                        <a class="text-success" href="#solve">{{ profile.solve_count }}</a>
                    </li>
                    
                    {% if request.user.is_authenticated and profile.user.id == request.user.id %}
                    <li>
                        
                        <a class="btn btn-outline-success" href="{% url 'user:editprofile' %}"
                            > Edit profile</a
                        >
                    </li>

                    {% endif %}

                    <li>
                    <a href="{% url 'public:eligiblilty' profile.user.id %}" class="btn btn-outline-primary">Check Eligibility</a>
                    </li>

                </ul>
            </div>
            <div class="solvelist" id="solve">
                <h3 class="my-5" style="color: #0a0; text-align: center">
                    Solved Problems
                </h3>
                <div class="solve-table">
                
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center text-bold" style="width: 25%;">
                                Category
                            </th>
                            <!-- <th scope="col" class="text-center text-bold">#</th> -->
                            <th scope="col" class="text-center">Problem ID</th>
                            <th scope="col" class="text-center">Problem Name</th>
                            <th scope="col" class="text-center">Status</th>
                            <th scope="col" class="text-center">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for problem in beginner %}
                        <tr>
                            {%  if forloop.first %}
                            <td
                                rowspan="{{ beginner_count }}"
                                class="align-middle text-center"
                                style="background-color: rgba(40, 250, 3, 0.7);"
                            >
                                Input/Output
                            </td>
                            {% endif %}
                            <!-- <th scope="row" class="text-center">1</th> -->
                            <td class="text-center"> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.problem_id }} </a> </td>
                            <td> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.name }} </a> </td>
                            <td class="cnt text-center">
                                <span>
                                {% if problem.solved %}
                                    <i class="fa fa-check"> Accepted</i>
                                {% else %}
                                 &nbsp;

                                {% endif %}
                                </span>

                            </td>
                            <td class="text-center">{{ problem.time }}</td>
                        </tr>

                    {% endfor %}

                    {% for problem in math %}
                        <tr>
                            {%  if forloop.first %}
                            <td
                                rowspan="{{ math_count }}"
                                class="align-middle text-center"
                                style="background-color: rgba(190, 250, 3, 0.7);"
                            >
                                Simple Math
                            </td>
                            {% endif %}
                            <!-- <th scope="row" class="text-center">1</th> -->
                            <td class="text-center"> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.problem_id }} </a> </td>
                            <td> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.name }} </a> </td>
                            <td class="cnt text-center">
                                <span>
                                {% if problem.solved %}
                                    <i class="fa fa-check"> Accepted</i>
                                {% else %}
                                 &nbsp;

                                {% endif %}
                                </span>

                            </td>
                            <td class="text-center">{{ problem.time }}</td>
                        </tr>

                    {% endfor %}

                    {% for problem in condition %}
                        <tr>
                            {%  if forloop.first %}
                            <td
                                rowspan="{{ condition_count }}"
                                class="align-middle text-center"
                                style="background-color: rgba(252, 162, 3, 0.7);"
                            >
                                If-else
                            </td>
                            {% endif %}
                            <!-- <th scope="row" class="text-center">1</th> -->
                            <td class="text-center"> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.problem_id }} </a> </td>
                            <td> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.name }} </a> </td>
                            <td class="cnt text-center">
                                <span>
                                {% if problem.solved %}
                                    <i class="fa fa-check"> Accepted</i>
                                {% else %}
                                 &nbsp;

                                {% endif %}
                                </span>

                            </td>
                            <td class="text-center">{{ problem.time }}</td>
                        </tr>

                    {% endfor %}

                    {% for problem in loop %}
                        <tr>
                            {%  if forloop.first %}
                            <td
                                rowspan="{{ loop_count }}"
                                class="align-middle text-center"
                                style="background-color: rgba(3, 152, 252, 0.7);"
                            >
                                Loop
                            </td>
                            {% endif %}
                            <!-- <th scope="row" class="text-center">1</th> -->
                            <td class="text-center"> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.problem_id }} </a> </td>
                            <td> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.name }} </a> </td>
                            <td class="cnt text-center">
                                <span>
                                {% if problem.solved %}
                                    <i class="fa fa-check"> Accepted</i>
                                {% else %}
                                 &nbsp;

                                {% endif %}
                                </span>

                            </td>
                            <td class="text-center">{{ problem.time }}</td>
                        </tr>

                    {% endfor %}

                    {% for problem in geo %}
                        <tr>
                            {%  if forloop.first %}
                            <td
                                rowspan="{{ geo_count }}"
                                class="align-middle text-center"
                                style="background-color: rgba(3, 73, 252, 0.6);"
                            >
                                Geometry
                            </td>
                            {% endif %}
                            <!-- <th scope="row" class="text-center">1</th> -->
                            <td class="text-center"> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.problem_id }} </a> </td>
                            <td> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.name }} </a> </td>
                            <td class="cnt text-center">
                                <span>
                                {% if problem.solved %}
                                    <i class="fa fa-check"> Accepted</i>
                                {% else %}
                                 &nbsp;

                                {% endif %}
                                </span>

                            </td>
                            <td class="text-center">{{ problem.time }}</td>
                        </tr>

                    {% endfor %}

                    {% for problem in array %}
                        <tr>
                            {%  if forloop.first %}
                            <td
                                rowspan="{{ array_count }}"
                                class="align-middle text-center"
                                style="background-color: rgba(144, 3, 252, 0.5);"
                            >
                                Array/Simple Data Structure
                            </td>
                            {% endif %}
                            <!-- <th scope="row" class="text-center">1</th> -->
                            <td class="text-center"> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.problem_id }} </a> </td>
                            <td> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.name }} </a> </td>
                            <td class="cnt text-center">
                                <span>
                                {% if problem.solved %}
                                    <i class="fa fa-check"> Accepted</i>
                                {% else %}
                                 &nbsp;

                                {% endif %}
                                </span>

                            </td>
                            <td class="text-center">{{ problem.time }}</td>
                        </tr>

                    {% endfor %}

                    {% for problem in string %}
                        <tr>
                            {%  if forloop.first %}
                            <td
                                rowspan="{{ string_count }}"
                                class="align-middle text-center"
                                style="background-color: rgba(252, 48, 3, 0.7);"
                            >
                                String
                            </td>
                            {% endif %}
                            <!-- <th scope="row" class="text-center">1</th> -->
                            <td class="text-center"> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.problem_id }} </a> </td>
                            <td> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.name }} </a> </td>
                            <td class="cnt text-center">
                                <span>
                                {% if problem.solved %}
                                    <i class="fa fa-check"> Accepted</i>
                                {% else %}
                                 &nbsp;

                                {% endif %}
                                </span>

                            </td>
                            <td class="text-center">{{ problem.time }}</td>
                        </tr>

                    {% endfor %}

                    {% for problem in adhoc %}
                        <tr>
                            {%  if forloop.first %}
                            <td
                                rowspan="{{ adhoc_count }}"
                                class="align-middle text-center"
                                style="background-color: rgba(256, 1, 1, 0.8);"
                            >
                                Ad-hoc
                            </td>
                            {% endif %}
                            <!-- <th scope="row" class="text-center">1</th> -->
                            <td class="text-center"> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.problem_id }} </a> </td>
                            <td> <a target="_blank" class="text-decoration-none" href="{{ problem.url }}">{{ problem.name }} </a> </td>
                            <td class="cnt text-center">
                                <span>
                                {% if problem.solved %}
                                    <i class="fa fa-check"> Accepted</i>
                                {% else %}
                                 &nbsp;

                                {% endif %}
                                </span>

                            </td>
                            <td class="text-center">{{ problem.time }}</td>
                        </tr>

                    {% endfor %}

                   </tbody>
                </table>
                </div>   
            </div>
        </div>
{% endblock %}
